<style>
    .select2-container .select2-choice {
        height: 30px;
        line-height: 1.42857;
    }
</style>

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h2 class="panel-title entryListHeader">Date Between Attendance Manually Machine</h2>
    </header>

    <div class="panel-body">
        <form class="form-horizontal form-bordered" autocomplete="off">
            <input type="hidden" id="autoId" />
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="text-danger">*</span>Department:</label>
                                <div class="col-sm-7" style="display: flex;">
                                    <select data-plugin-selectTwo id="pDepartmentId" class="form-control input-sm">
                                        <option value="0">==Choose a Department==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="text-danger">*</span>Section:</label>
                                <div class="col-sm-7" style="display: flex;">
                                    <select data-plugin-selectTwo id="pSectionId" class="form-control input-sm">
                                        <option value="0">==Choose a Section==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="text-danger">*</span>Employee:</label>
                                <div class="col-sm-7" style="display: flex;">
                                    <select data-plugin-selectTwo id="pEmployeeId" class="form-control input-sm">
                                        <option value="0">==Choose a Employee==</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="text-danger">*</span>From Date:</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" id="dFromDate" onkeypress="inputMask(event,'00-00-0000')" class="form-control input-sm datepick" required />
                                    </div>
                                </div>
                                <div class="col-sm-4" style="display:flex; padding-left: 0px;">
                                    <div style="padding-left:3px;">
                                        <select id="vHHFrom" data-plugin-selectTwo class="form-control-populate">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div style="padding-left:3px;">
                                        <select id="vMMFrom" data-plugin-selectTwo class="form-control-populate">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>

                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>

                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>

                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>

                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="40">50</option>

                                            <option value="51">51</option>
                                            <option value="52">52</option>
                                            <option value="53">53</option>
                                            <option value="54">54</option>
                                            <option value="55">55</option>
                                            <option value="56">56</option>
                                            <option value="57">57</option>
                                            <option value="58">58</option>
                                            <option value="59">59</option>
                                        </select>
                                    </div>
                                    <div style="padding-left:3px;">
                                        <select id="vAmPmFrom" data-plugin-selectTwo style="max-width:68px;" class="form-control-populate">
                                            <option value="AM">AM</option>
                                            <option value="PM">PM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="text-danger">*</span>To Date:</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" id="dToDate" onkeypress="inputMask(event,'00-00-0000')" class="form-control input-sm datepick" required />
                                    </div>
                                </div>
                                <div class="col-sm-4" style="display:flex; padding-left: 0px;">
                                    <div style="padding-left:3px;">
                                        <select id="vHHTo" data-plugin-selectTwo class="form-control-populate">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div style="padding-left:3px;">
                                        <select id="vMMTo" data-plugin-selectTwo class="form-control-populate">
                                            <option value="00">00</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>

                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>

                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>

                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>

                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="40">50</option>

                                            <option value="51">51</option>
                                            <option value="52">52</option>
                                            <option value="53">53</option>
                                            <option value="54">54</option>
                                            <option value="55">55</option>
                                            <option value="56">56</option>
                                            <option value="57">57</option>
                                            <option value="58">58</option>
                                            <option value="59">59</option>
                                        </select>
                                    </div>
                                    <div style="padding-left:3px;">
                                        <select id="vAmPmTo" data-plugin-selectTwo style="max-width:68px;" class="form-control-populate">
                                            <option value="AM">AM</option>
                                            <option value="PM">PM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-bordered table-striped" id="tbDateBetweenAttendanceManuallyMachine" width="100%">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Department Name</th>
                        <th>Section Name</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </form>
    </div>
    <footer class="panel-footer text-center">
        <partial name="_CreateReset" />
    </footer>
</section>
@section Scripts{
    <script src="~/js/JSPayroll/DateBetweenAttendanceManuallyMachineService.js" asp-append-version="true"></script>
}