<style>
</style>

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h2 class="panel-title entryListHeader">Assign Duty Roster</h2>
    </header>

    <div class="panel-body">
        <form class="form-horizontal form-bordered" autocomplete="off">
            <input type="hidden" id="autoId" />
            <div class="col-12">
                <div class="row" style="margin:0; padding:0;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-6">
                        <div class="row" style="margin:0; padding:0;">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>Entry Date:</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" id="pDate" onkeypress="inputMask(event,'00-00-0000')" class="form-control input-sm datepick" required />
                                    </div>
                                </div>
                                <div class="col-sm-4" style="display:flex"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>Department:</label>
                                <div class="col-sm-8" style="display: flex;">
                                    <select data-plugin-selectTwo id="pDepartmentId" class="form-control input-sm">
                                        <option value="0">==Choose a Department==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>Section:</label>
                                <div class="col-sm-8" style="display: flex;">
                                    <select data-plugin-selectTwo id="pSectionId" class="form-control input-sm">
                                        <option value="0">==Choose a Section==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>Employee:</label>
                                <div class="col-sm-8" style="display: flex;">
                                    <select data-plugin-selectTwo id="pEmployeeId" class="form-control input-sm">
                                        <option value="0">==Choose a Employee==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>Shift:</label>
                                <div class="col-sm-8" style="display: flex;">
                                    <select data-plugin-selectTwo id="pShiftId" class="form-control input-sm">
                                        <option value="0">==Choose a Shift==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>From Date:</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" id="pFromDate" onkeypress="inputMask(event,'00-00-0000')" class="form-control input-sm datepick" required />
                                    </div>
                                </div>
                                <div class="col-sm-4" style="display:flex"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>To Date:</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" id="pToDate" onkeypress="inputMask(event,'00-00-0000')" class="form-control input-sm datepick" required />
                                    </div>
                                </div>
                                <div class="col-sm-4" style="display:flex"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </form>
    </div>
    <footer class="panel-footer text-center">
        <partial name="_ModalButtonAssign" />
    </footer>
</section>
@section Scripts{
    <script src="~/js/JSPayroll/DutyRosterService.js" asp-append-version="true"></script>
}