
    <div class="panel-body" style="background-color: #f7f7f7;">
        <div class="timeline">
            <div class="tm-body">

                <ol class="tm-items">
                    <li>

                        <div class="tm-box">
                            <div class="tm-meta">
                                <span>
                                    <i class="fa fa-user" style="color: #0088cc;"></i> Entry By:  <a id="notice_user">@ViewBag.UserName</a>
                                </span>
                                <span>
                                    <i class="fa fa-clock-o" style="color: #0088cc;"></i> Date:  <a>@ViewBag.Date</a>
                                </span>
                                <span style="float: right">
                                    <i class="fa fa-clock-o" style="color: #0088cc;"></i> Entry Date: <a>@ViewBag.EntryDate</a>
                                </span>
                            </div>
                        </div>
                    </li>

                    <li>

                        <div class="tm-box">
                            <div class="embed-responsive embed-responsive-16by9" style="height: 650px;">
                                <iframe class="embed-responsive-item" id="notice_attachment"
                                        src="@ViewBag.Url">
                                </iframe>
                            </div>

                        </div>
                    </li>
                </ol>

                
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        //everything is fully loaded, don't use me if you can use DOMContentLoaded
       
    });
    
    
</script>

