<div class="row">
    <div class="col-sm-9 col-sm-offset-4" style="display: flex;"> 
        <button type="button" id="btnSave" class="btn btn-sm btn-success form-control" style="width: 110px !important; margin-right: 10px !important; font-size: 15px;">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>   Save   
        </button>
        <button type="button" id="btnSaveLoad" class="btn btn-sm btn-success form-control buttonload" style=" width: 110px !important; font-size: 15px;padding: 2px; margin-right: 10px !important; color: #000;" disabled>
            <i class="fa fa-spinner fa-spin"></i> Saving...
        </button>
        <button type="button" id="btnRefresh" class="btn btn-sm btn-primary form-control" style="width: 110px !important; margin-right: 10px !important; font-size: 15px;">
            <i class="fa fa-refresh" aria-hidden="true"></i> Reset
        </button>
    </div>
</div>