@model int
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3" style="display: flex;">
            <button type="submit" id="btnSave" class="btn btn-sm btn-success form-control" style=" width: 100px !important; margin-right: 10px !important;" asp-route-id="@Model"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</button>
            <a type="button" asp-action="Index" class="btn btn-sm btn-primary form-control" style="padding-top: 7px; width: 100px !important; margin-right: 10px !important;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
        </div>
    </div>