<button type="button" id="btnGenerate" style="font-family:sans-serif;font-size:17px; width: 130px; height: 38px;"class="btn btn-success">
    @*<i class="fa fa-refresh" aria-hidden="true"></i> *@
    <i class="fa fa-spinner" aria-hidden="true"></i> 
    Generate
</button>
<button type="button" id="btnGenerateLoad" 
    class="btn btn-sm btn-success form-control buttonload" style="width: 130px !important; height: 38px; font-size: 15px; padding: 2px; 
    color: #000;" disabled>
    <i class="fa fa-spinner fa-spin"></i> Saving...
</button>

