<style>
    
</style>

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h2 class="panel-title entryListHeader">Delete Monthly Salary</h2>
    </header>

    <div class="panel-body">
        <form class="form-horizontal form-bordered" autocomplete="off">
            <input type="hidden" id="autoId" />
            <div class="col-12">
                <div class="row" style="margin:0; padding:0;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-6">
                        <div class="row" style="margin:0; padding:0;">
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>Salary of Month:</label>
                                <div class="col-sm-8" style="display: flex;">
                                    <select data-plugin-selectTwo id="pSalaryDate" class="form-control input-sm">
                                        <option value="0">==Choose a Salary Date==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>Department:</label>
                                <div class="col-sm-8" style="display: flex;">
                                    <select data-plugin-selectTwo id="pDepartmentId" class="form-control input-sm">
                                        <option value="0">==Choose a Department==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>Section:</label>
                                <div class="col-sm-8" style="display: flex;">
                                    <select data-plugin-selectTwo id="pSectionId" class="form-control input-sm">
                                        <option value="0">==Choose a Section==</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><span class="text-danger">*</span>Employee:</label>
                                <div class="col-sm-8" style="display: flex;">
                                    <select data-plugin-selectTwo id="pEmployeeId" class="form-control input-sm">
                                        <option value="0">==Choose a Employee==</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </form>
    </div>
    <footer class="panel-footer text-center">
        <partial name="_ModalButtonDelete" />
    </footer>
</section>
@section Scripts{
    <script src="~/js/JSPayroll/DeleteMonthlySalaryService.js" asp-append-version="true"></script>
}