<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h2 class="panel-title entryListHeader">Section List</h2>
    </header>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <a class="btn btn-primary" id="btnAdd">Add <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped" id="tbSection" width="100%">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Section Name</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>


@section Scripts{
    <partial name="/Areas/Payroll/Views/SectionInfo/_Section.cshtml" />
    <script src="~/js/JSPayroll/SectionList.js" asp-append-version="true"></script>
    <script src="~/js/JSPayroll/SectionService.js" asp-append-version="true"></script>
}